OPENSEARCH_HOSTS=https://opensearch:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=myPassword123!

LOCALSTACK_DEBUG=1
LOCALSTACK_HOST=local-aws.com

LOCALSTACK_OPENSEARCH_HOSTS=https://test-opensearch.us-east-1.opensearch.local-aws.com
LOCALSTACK_AUTH_TOKEN=token
